In [ ]:
import pandas as pd
import numpy as np

!wget -O 'Data for Portfolio Analysis.xlsx' https://drive.google.com/uc?id=1FbRYF6Gu-hisilRUjhh56Fj8AzE50h-P&export=download

data = pd.read_excel('Data for Portfolio Analysis.xlsx')
data['Date'] = pd.to_datetime(data['Date ']) 
data.index = data['Date']
data.drop(['Date ', 'Date'], axis=1,inplace=True)

--2022-08-08 11:17:24--  https://drive.google.com/uc?id=1FbRYF6Gu-hisilRUjhh56Fj8AzE50h-P
Resolving drive.google.com (drive.google.com)... 64.233.182.139, 64.233.182.113, 64.233.182.138, ...
Connecting to drive.google.com (drive.google.com)|64.233.182.139|:443... connected.
HTTP request sent, awaiting response... 303 See Other
Location: https://doc-0c-98-docs.googleusercontent.com/docs/securesc/ha0ro937gcuc7l7deffksulhg5h7mbp1/bgrlqif1mlhr6vivuksd654s4gec8oss/1659957375000/01508963693596524949/*/1FbRYF6Gu-hisilRUjhh56Fj8AzE50h-P?uuid=f06a9140-d9d8-47ad-87d5-d8fc3df7b193 [following]
Warning: wildcards not supported in HTTP.
--2022-08-08 11:17:25--  https://doc-0c-98-docs.googleusercontent.com/docs/securesc/ha0ro937gcuc7l7deffksulhg5h7mbp1/bgrlqif1mlhr6vivuksd654s4gec8oss/1659957375000/01508963693596524949/*/1FbRYF6Gu-hisilRUjhh56Fj8AzE50h-P?uuid=f06a9140-d9d8-47ad-87d5-d8fc3df7b193
Resolving doc-0c-98-docs.googleusercontent.com (doc-0c-98-docs.googleusercontent.com)... 209.85.145.132, 2607:f8b0:4001:c1e::84
Connecting to doc-0c-98-docs.googleusercontent.com (doc-0c-98-docs.googleusercontent.com)|209.85.145.132|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 18426 (18K) [application/vnd.openxmlformats-officedocument.spreadsheetml.sheet]
Saving to: ‘Data for Portfolio Analysis.xlsx’

Data for Portfolio  100%[===================>]  17.99K  --.-KB/s    in 0s

2022-08-08 11:17:25 (55.7 MB/s) - ‘Data for Portfolio Analysis.xlsx’ saved [18426/18426]

In [ ]:
data

                RIL     SBI     ITC      TCS
Date
2021-08-04  2103.75  456.95  208.60  3273.95
2021-08-05  2134.25  441.85  215.25  3283.95
2021-08-06  2089.05  435.65  214.25  3309.80
2021-08-09  2077.15  433.40  213.80  3322.70
2021-08-10  2088.05  426.45  209.85  3333.90
...             ...     ...     ...      ...
2022-07-28  2457.10  532.45  303.45  3260.50
2022-07-29  2509.45  528.35  303.05  3301.90
2022-08-01  2574.85  533.75  307.50  3298.80
2022-08-02  2584.65  542.10  309.95  3291.80
2022-08-03  2606.35  540.85  308.15  3339.50

[250 rows x 4 columns]

In [ ]:
daily_returns = data.pct_change().dropna()
daily_returns

                 RIL       SBI       ITC       TCS
Date
2021-08-05  0.014498 -0.033045  0.031879  0.003054
2021-08-06 -0.021178 -0.014032 -0.004646  0.007872
2021-08-09 -0.005696 -0.005165 -0.002100  0.003898
2021-08-10  0.005248 -0.016036 -0.018475  0.003371
2021-08-11  0.014008  0.003752 -0.005718  0.003089
...              ...       ...       ...       ...
2022-07-28  0.015666  0.008046 -0.002301  0.022469
2022-07-29  0.021306 -0.007700 -0.001318  0.012697
2022-08-01  0.026061  0.010220  0.014684 -0.000939
2022-08-02  0.003806  0.015644  0.007967 -0.002122
2022-08-03  0.008396 -0.002306 -0.005807  0.014491

[249 rows x 4 columns]

In [ ]:
daily_log_returns = np.log(data) - np.log(data.shift(1))
daily_log_returns = daily_log_returns.dropna()
daily_log_returns

                 RIL       SBI       ITC       TCS
Date
2021-08-05  0.014394 -0.033604  0.031382  0.003050
2021-08-06 -0.021406 -0.014131 -0.004657  0.007841
2021-08-09 -0.005713 -0.005178 -0.002103  0.003890
2021-08-10  0.005234 -0.016166 -0.018648  0.003365
2021-08-11  0.013911  0.003745 -0.005735  0.003085
...              ...       ...       ...       ...
2022-07-28  0.015545  0.008014 -0.002304  0.022220
2022-07-29  0.021082 -0.007730 -0.001319  0.012618
2022-08-01  0.025728  0.010169  0.014577 -0.000939
2022-08-02  0.003799  0.015523  0.007936 -0.002124
2022-08-03  0.008361 -0.002309 -0.005824  0.014387

[249 rows x 4 columns]

In [ ]:
average_returns = daily_log_returns.mean()
average_returns

RIL    0.000860
SBI    0.000677
ITC    0.001567
TCS    0.000080
dtype: float64

In [ ]:
annual_returns = daily_log_returns.sum() # adding daily log returns gives annual return
annual_returns

RIL    0.214229
SBI    0.168568
ITC    0.390168
TCS    0.019824
dtype: float64

In [ ]:
variance = daily_log_returns.var(ddof=0) # ddof=0 for population, ddof = 1 for sample
variance

RIL    0.000324
SBI    0.000308
ITC    0.000260
TCS    0.000228
dtype: float64

In [ ]:
annual_variance = variance * 250
annual_variance

RIL    0.080960
SBI    0.076942
ITC    0.064956
TCS    0.056946
dtype: float64

In [ ]:
standard_deviation = daily_log_returns.std(ddof=0) # ddof=0 for population, ddof = 1 for sample
standard_deviation

RIL    0.017996
SBI    0.017543
ITC    0.016119
TCS    0.015093
dtype: float64

In [ ]:
annual_standard_deviation = standard_deviation*np.sqrt(250)
annual_standard_deviation

RIL    0.284535
SBI    0.277384
ITC    0.254865
TCS    0.238635
dtype: float64

In [ ]:
covariance_matrix = daily_log_returns.cov(ddof=0) # ddof=0 for population, ddof = 1 for sample
covariance_matrix

          RIL       SBI       ITC       TCS
RIL  0.000324  0.000134  0.000088  0.000089
SBI  0.000134  0.000308  0.000118  0.000082
ITC  0.000088  0.000118  0.000260  0.000044
TCS  0.000089  0.000082  0.000044  0.000228

In [ ]:
annual_covariance_matrix = covariance_matrix*250
annual_covariance_matrix

          RIL       SBI       ITC       TCS
RIL  0.080960  0.033617  0.022091  0.022181
SBI  0.033617  0.076942  0.029546  0.020413
ITC  0.022091  0.029546  0.064956  0.011112
TCS  0.022181  0.020413  0.011112  0.056946

In [ ]:
PORTFOLIO = pd.DataFrame()
PORTFOLIO['Returns'] = annual_returns
equal_weights = [1/annual_returns.shape[0] for i in range(annual_returns.shape[0])]
PORTFOLIO['Weights'] = pd.Series(equal_weights, index=annual_returns.index)
PORTFOLIO

      Returns  Weights
RIL  0.214229     0.25
SBI  0.168568     0.25
ITC  0.390168     0.25
TCS  0.019824     0.25

In [ ]:
portfolio_return = np.dot((PORTFOLIO['Weights'].values).T, PORTFOLIO['Returns'].values)
portfolio_return

0.19819733300004816

In [ ]:
portfolio_standard_deviation = np.sqrt(np.dot((PORTFOLIO['Weights'].values).T, np.dot(annual_covariance_matrix.values, PORTFOLIO['Weights'].values)))
portfolio_standard_deviation

0.18670236150058328

In [ ]:
import scipy
from scipy.optimize import minimize, Bounds

# objective function
def sharpe_ratio(weights, covar_matrix, annual_returns, Rf=0.0633, sign=-1.0):
  std = np.sqrt(np.dot(np.dot(weights.T, covar_matrix), weights))
  mean = np.dot(weights.T, annual_returns)
  return sign*(mean - Rf)/std # multiplied by -1 because scipy don't have maximize function

def constraint(weights):
  return weights.sum() - 1

w0 = np.array([0.20, 0.30, 0.40, 0.10]) # random guess

cons = [{'type': 'eq', 'fun': constraint}]
bnds = Bounds(np.zeros(4),np.ones(4))

sol = minimize(sharpe_ratio, w0, args=(annual_covariance_matrix.values, annual_returns.values), method='SLSQP', constraints=cons, bounds=bnds)
sol

     fun: -1.290880171631803
     jac: array([-0.26489547, -0.02995051, -0.26414031,  0.19207412])
 message: 'Optimization terminated successfully'
    nfev: 25
     nit: 5
    njev: 5
  status: 0
 success: True
       x: array([1.00052605e-01, 8.37004077e-17, 8.99947395e-01, 3.29597460e-17])

In [ ]:
np.round_(sol.x, decimals=4)

array([0.1001, 0.    , 0.8999, 0.    ])

In [ ]:
PORTFOLIO['Optimal Weights'] = pd.Series(np.round_(sol.x, decimals=4), index=annual_returns.index)
PORTFOLIO[['Returns', 'Optimal Weights']]

      Returns  Optimal Weights
RIL  0.214229           0.1004
SBI  0.168568           0.0000
ITC  0.390168           0.8996
TCS  0.019824           0.0000

In [ ]:
# Solution form excel
wi = np.array([0.1008, 0, 0.8992, 0])
rtn = np.array([0.2151, 0.1692, 0.3917, 0.0199])
sharpe_ratio(wi, annual_covariance_matrix.values, rtn, sign=1.0)

1.2969986771118827

In [ ]:
sol = minimize(sharpe_ratio, w0, args=(annual_covariance_matrix.values, rtn), method='SLSQP', constraints=cons, bounds=bnds)
np.round_(sol.x, decimals=4)

array([0.1004, 0.    , 0.8996, 0.    ])